<div class="author-info u-clearfix">
<img class="avatar" width="64" height="64" src="<%= config.root %>img/avatar.png" alt="<%= config.author %>">
<div class="author-content">
<h3 class="author-name"><%= config.author %></h3>
<div class="author-description"><%= theme.description %></div>
</div>
</div>