<footer class="site-footer">
	<p><a href="https://fatesinger.com" target="_blank" title="Hexo 主题 kana">Kana</a> made with <svg class="icon icon-heart"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use></svg></p>
</footer>
<%- js('js/app') %>